.header__searchCategoryBar{
    border: 0;
    background-color: white;
    display: flex;
    font-family: MuseoSansCyrl, sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #828282;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
.header__categoryMenu{
    display: none;
}
.header__categoryMenu_active{
    border: 1px solid #956D84;
    border-top: 0;
    margin-top: 0.55%;
    font-family: MuseoSansCyrl, sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #333333;
    position: absolute;
    width: 14.5%;
}

.header__categoryMenuItem{
    border-top: 1px solid #956D84;
    padding: 5%;
    background-color: white;
}
.header__categoryMenuItem:hover{
    background-color: #ffeef5;
    color: #956D84;
}