.header__top {
    background-color: #333333;
    display: flex;
    height: 80px;
    justify-content: space-between;
    padding: 0 10%;
}
.header__nav{
    display: flex;
    align-items: center;
    gap: 40px;
}
.header__logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header__logoText{
    display: flex;
    flex-direction: column;
}
.logoTitle{
    font-family: Attentica4F, "Segoe Print", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ffeef5;
}
.logoSubtitle{
    font-family: "Segoe UI Historic", sans-serif;
    font-weight: 200;
    font-size: 12px;
    color: #828282;
}
.header__logoCity{
    display: flex;
    gap: 10px;
    align-items: center;
}
.header__logoNext{
    margin: auto auto auto 20px;
}
.header__catalog{
    margin-top: 10px;
    font-family: MuseoSansCyrl, sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.89);
    text-align: center;
}
.header__choice{
    margin: auto;
    font-family: MuseoSansCyrl, sans-serif;
    font-weight: 300;
    font-size: 12px;
    color: #956D84;
}
.header__top a{
    text-decoration: none;
}
.header__top a:hover{
    color: #ead6e0;
}
.header__currency{
    background-color: #333333;
    border: 0;
    cursor: pointer;
    display: flex;
    gap: 10px;
    align-items: center;
}
.header__currMenu{
    background-color: #333333;
    border: 1px solid #1f1f1f;
    border-top: 0;
    color: white;
    position: absolute;
    width: auto;
    padding-right: 0.7%;
    margin-top: 5px;
}
.header__currMenuItem{
    border-top: 1px solid #1f1f1f;
    padding: 7% 118% 7% 7%;
    font-family: MuseoSansCyrl, sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: white;
}
.header__currMenuItem:hover{
    color: #956D84;
}
.header__language{
    background-color: #333333;
    border: 0;
    cursor: pointer;
    display: flex;
    gap: 10px;
    align-items: center;
}
.header__city{
    background-color: #333333;
    border: 0;
    cursor: pointer;
    display: flex;
    gap: 10px;
    align-items: center;
}
.header__icon{
    margin-top: 2px;
}
.header__item{
    display: flex;
    gap: 10px;
}
.header__authorization{
    display: flex;
    align-items: center;
}
.header__options{
    font-family: MuseoSansCyrl, sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.46);
}
.header__choice{
    font-family: MuseoSansCyrl, sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #956D84;
}
.header__arrow_act{
    transform: rotate(180deg);
}
.header__enter{
    display: flex;
    text-decoration: none;
}
.header__entText{
    padding: 0 7px;
    font-family: MuseoSansCyrl, sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: white;
}
.header__regist{
    padding: 0 7px;
    border-left: 1px solid #956D84;
    font-family: MuseoSansCyrl, sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: white;
}
.header__currencyMenu{
}
.header__languageMenu{
}
.header__cityMenu{
}
.header__basket{
    margin-left: auto;
    margin-right: 5px;
}
.header__deferredProd{
    margin-top: 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: MuseoSansCyrl, sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #ececec;
}