.adminPage{
    width: 80%;
    margin: 0 auto 50px auto;
}
.adminPage__buttons {
    display: flex;
    gap: 30px;
    margin-bottom: 40px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}
.adminPage__buttons p {
    font-family: MuseoSansCyrl, sans-serif;
    font-weight: 300;
    padding: 10px 0;
    transition: color 0.3s;
}
.activeTab {
    color: #b87596;
    border-bottom: 2px solid #b87596;
    font-weight: bold;
}
a{
    text-decoration: none;
    color: #333333;
}
.basketPage__addProd{
    height: 20px;
    width: 15%;
    padding: 5px;
    text-align: center;
    border: rgba(179, 116, 151, 0.4) solid 1px;
    background-color: rgba(253, 239, 247, 0.79);
    margin-bottom: 10px;
}
.basketPage__description{
    display: flex;
    font-family: MuseoSansCyrl, sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: rgba(51, 51, 51, 0.5);
}
.basketPage__name{
    margin-left: 140px;
    flex: 0 0 22%;
}
.basketPage__coast{
    margin-left: 20px;
    flex: 0 0 12%;
}
.basketPage__info{
    margin-left: 50px;
}
.basketPage__category{
    margin-left: auto;
    margin-right: 70px;
}
.basketItem{
    display: flex;
    align-items: center;
    height: 100px;
    margin-top: 5px;
    border: rgba(179, 116, 151, 0.4) solid 1px;
    padding: 10px 20px;
    gap: 20px;
    font-family: MuseoSansCyrl, sans-serif;
    font-weight: 300;
    font-size: 16px;
}
.basketItem__img{
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    flex-shrink: 0;
}
.basketItem__title{
    flex: 0 0 22%;
    font-family: MuseoSansCyrl, sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #333333;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.basketItem__price{
    flex: 0 0 12%;
    font-family: MuseoSansCyrl, sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #333333;
}
.basketItem__category{
    margin-left: auto;
    text-align: right;
}
.totalPrice{
    margin-left: auto;
}
.deliveryTimeInfo{
    width: 8%;
}
.id{
    width: 40px;
}
.address{
    width: 30%;
}
.statusBadgeWrap{
    text-align: center;
    width: 22%;
}
.statusButtons{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 180px;
    text-align: center;
}
.statusButtons button{
    height: 40px;
}
.addressTitle{
    width: 30%;
    text-align: center;
}
.totalPriceTitle{
    margin-left: auto;
    width: 10%;
    margin-right: 40px;
    text-align: right;
}
.dataTitle{
    margin-right: 20px;
    width: 8%;
    text-align: center;
}
.statusTitle{
    width: 40%;
    text-align: center;
}
.adminPage__stats{
    margin-bottom: 50px;
}
.statsTitle{
    font-family: MuseoSansCyrl, sans-serif;
    font-weight: 700;
    font-size: 30px;
    margin: 0 0 20px 40px;
}
.statCard__info{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    gap: 20px;
}
.statCard__name{
    font-family: MuseoSansCyrl, sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #956D84;
    width: 20%;
}
.statCard__value{
    font-family: MuseoSansCyrl, sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #333333;
    width: 10%;
    text-align: right;
}