.main__middle{
    padding-bottom: 100px;
}
.main__title{
    display: flex;
    align-items: center;
}
.main__text{
    text-align: center;
    width: 100%;
    font-family: MuseoSansCyrl, sans-serif;
    font-weight: 700;
    font-size: 48px;
}
.main__catalog{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    column-gap: 20px;
    row-gap: 30px;
}

.main__catalog a:hover,
.main__catalog a:active,
.main__catalog a{
    text-decoration: none;

}